@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(to bottom, #252525, #18332a, #2d655b);
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom, #0e0f0f, #18332a, #2d655b);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInFast {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 1s;
}

.animate-fade-in-fast {
  animation: fadeInFast 0.5s ease-out forwards;
}
